.trial {
    height: 70vh;
    width: 100vw;
}
.subh{
    font-size:40px;
}
/* 
div {
    margin: 0;
    padding: 0;
    justify-self: center;
    align-items: center;
}

h1 {
    margin: 0;
    padding: 0;
    color: #fafafa;
    font-family: "Montserrat";
    font-size: 10vh;
}*/

/* p {
    color: #fafafa;
    font-size: 4vh;
} */

@media (max-width:900px) {
    p {
        font-size: 3vh;
    }
}

@media (max-width:700px) {
    p {
        font-size: 2.5vh;
    }
}

@media (max-width:600px) {

    h1 {
        font-size: 100px !important;
    }

    p {
        font-size: 70px;
    }
}


@media (max-width:550px) {

    h1 {
        font-size: 80px !important;
    }

}

@media (max-width:430px) {

    h1 {
        padding-top: 2vh;
        font-size: 40px !important;
    }

    p.subh {
        font-size:20px;
    }

}

@media (max-width:325px) {

    h1 {
        font-size: 60px !important;
    }

}

@media (max-width:260px) {

    h1 {
        font-size: 50px !important;
    }

}