.trial {
    height: 70vh;
    width: 100vw;
}
.subh{
    font-size:40px;
}
@media(min-width:1981px){
    h3.subh{
        font-size:"34px";
    }
    h1.subh{
        font-size: 200px;
        padding-left: 2vw;
        padding-right: 2vw;
    }
    p.subh{
        font-size: 40px;
    }
}
@media(max-width:1980px){
    h3.subh{
        font-size:"34px";
    }
    h1.subh{
        font-size: 140px;
        padding-left: 2vw;
        padding-right: 2vw;
    }
    p.subh{
        font-size: 37px;
    }
}


@media(max-width:1195px){
    h1.subh{
        font-size: 120px;
        padding-left: 2vw;
        padding-right: 2vw;

    
    }
    p.subh{
        font-size: 32px;
    }
}

@media(min-width:1136px){
    img.imgc{
        width:400px;height:210px;
    }
}


@media(max-width:1135px){
    img.imgc{
        height: 200px;
        width: 380px;
    }
}

@media(max-width:1007px){
    h1.subh{
        font-size: 110px;
        padding-left: 2vw;
        padding-right: 2vw;
    }
    p.subh{
        font-size: 32px;
    }
}

@media(max-width:991px){
    img.imgc{
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 20px;
    }
}


@media(max-width:887px){
    h1.subh{
        font-size: 100px;
        padding-left: 2vw;
        padding-right: 2vw;

    }
    p.subh{
        font-size: 30px;
    }
}

@media(max-width:847px){
    h1.subh{
        font-size: 90px;
        padding-left: 2vw;
        padding-right: 2vw;

    }
    p.subh{
        font-size: 30px;
    }
}

@media (max-width:753px) {
    h1.subh{
        font-size: 80px;
        padding-left: 2vw;
        padding-right: 2vw;

    }
    p.subh{
        font-size: 30px;
    }
}

@media (max-width:655px) {
    h1.subh{
        font-size: 75px;
        padding-left: 2vw;
        padding-right: 2vw;

    }
    p.subh{
        font-size: 26px;
    }
}

@media (max-width:600px) {
    h1.subh{
        font-size: 70px;
        padding-left: 2vw;
        padding-right: 2vw;

    }
    p.subh{
        font-size: 26px;
    }
}


@media (max-width:550px) {
    h1.subh{
        font-size: 60px;
        padding-left: 2vw;
        padding-right: 2vw;

    }
    p.subh{
        font-size: 24px;
    }

}

@media (max-width:550px) {
    h3.subh{
        font-size: 30px;
        padding-left: 2vw;
        padding-right: 2vw;

    }
}


@media (max-width:486px) {

    h1 {
        padding-top: 2vh;
        font-size: 50px !important;
    }

    p.subh {
        font-size:22px;
    }

}

@media(max-width:457px){
    img.imgc{
        margin-top: 20px;
        height: 180px;
        width: 340px;
    }
}

@media (max-width:446px) {
    p.subh {
        font-size: 20px;
    }

}
@media(max-width:415px){
    img.imgc{
        margin-top: 20px;
        height: 160px;
        width: 300px;
    }
}
@media (max-width:405px) {
    p.subh {
        font-size: 18px;
    }

}

@media (max-width:381px) {
    h1.subh {
        padding-top: 2vh;
        font-size: 40px !important;
    }

}
@media(max-width:371px){
    img.imgc{
        margin-top: 20px;
        height: 100px;
        width: 220px;
    }
}
@media (max-width:340px) {
    h3.subh{
        font-size: 24px;
        padding-left: 2vw;
        padding-right: 2vw;

    }

}

@media (max-width:325px) {
    h1.subh{
        font-size: 30px;
        padding-left: 2vw;
        padding-right: 2vw;

    }
    p.subh{
        font-size: 18px;
    }
}

@media (max-width:260px) {

    h1.subh {
        font-size: 25px !important;
    }
    p.subh{
        font-size: 14px;
    }

}