.trial {
    height: 70vh;
    width: 100vw;
}
.subh{
    font-size:40px;
}
@media(max-width:1980px){
    h3.subh{
        font-size:"34px";
    }
    h1.subh{
        font-size: 140px;
        padding-left: 2vw;
        padding-right: 2vw;
    }
    p.subh{
        font-size: 46px;
    }
}


@media(max-width:1075px){
    h1.subh{
        font-size: 120px;
        padding-left: 2vw;
        padding-right: 2vw;

    
    }
    p.subh{
        font-size: 46px;
    }
}
@media(max-width:887px){
    h1.subh{
        font-size: 100px;
        padding-left: 2vw;
        padding-right: 2vw;

    }
    p.subh{
        font-size: 40px;
    }
}
@media (max-width:753px) {
    h1.subh{
        font-size: 80px;
        padding-left: 2vw;
        padding-right: 2vw;

    }
    p.subh{
        font-size: 34px;
    }
}

@media (max-width:600px) {
    h1.subh{
        font-size: 60px;
        padding-left: 2vw;
        padding-right: 2vw;

    }
    p.subh{
        font-size: 28px;
    }
}


@media (max-width:550px) {
    h1.subh{
        font-size: 50px;
        padding-left: 2vw;
        padding-right: 2vw;

    }
    p.subh{
        font-size: 24px;
    }

}

@media (max-width:550px) {
    h3.subh{
        font-size: 30px;
        padding-left: 2vw;
        padding-right: 2vw;

    }

}


@media (max-width:430px) {

    h1 {
        padding-top: 2vh;
        font-size: 40px !important;
    }

    p.subh {
        font-size:20px;
    }

}
@media (max-width:340px) {
    h3.subh{
        font-size: 24px;
        padding-left: 2vw;
        padding-right: 2vw;

    }

}

@media (max-width:325px) {
    h1.subh{
        font-size: 30px;
        padding-left: 2vw;
        padding-right: 2vw;

    }
    p.subh{
        font-size: 18px;
    }
}

@media (max-width:260px) {

    h1 {
        font-size: 25px !important;
    }
    p.subh{
        font-size: 14px;
    }

}