.navbar {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fafafa;
    /* background: #049abf; */
}

.grey-text:hover {
    color: #049abf !important;
}

.logo_img {
    width: 50px;
    height: 50px;
}

@media (max-width:599px){
    .reduce{
        font-size: 15px;
    }
}

@media (max-width:767px) {
    .centerize{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

@media (max-width:763px) {
    .grey-text {
        margin-right: 0%;
    }

    .mission {
        width: 80% !important;
    }


}

@media (max-width:500px) {
    .innermission {
        padding-right: 2% !important;
    }

    .title {
        text-align: center;
    }

    .mission {
        padding: 0% !important;
    }

    .Google {
        width: 40% !important;
        font-size: 60% !important;
    }
}

@media (max-width:405px) {

    .Google {
        width: 50% !important;
        font-size: 70% !important;
    }
}


@media (max-width:380px) {

    .Google {
        width: 100% !important;
        font-size: 80% !important;
    }
}

@media (max-width:300px) {
    .missiontitle {
        font-size: 19px !important;
    }

    .responsive {
        font-size: 13px !important;
    }
}

@media (max-width:995px) {
    .sideBanner {
        display: none;
    }
}