@media only screen and (max-width: 1980px) {
  img.responsive {
      display: none;
  }
  img.response{
    width: 470px;
    height: 386px;
  }
}


@media only screen and (max-width: 991px) {
  img.response {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}


@media only screen and (max-width: 550px) {
  img.response{
    width: 440px;
    height: 346px;
  }
}

@media only screen and (max-width: 499px) {
  img.response{
    width: 400px;
    height: 346px;
  }
}
@media only screen and (max-width: 455px) {
  img.responsive {
    width: 149px;
    height: 406px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  img.response{
    display: none;
  }
}

